{% extends "layout.html" %}

{% block content %}
<body style="background-color:rgb(133, 173, 173);">
<h2> UFC Gallery Photos</h2>
<table>
    <tr>
        <td>
            <img src="../static/images/backround photo.jpg" width="300" height="200">
        </td>
        <td>
<img src="../static/images/Conor McGregor.jpg" width="300" height="200"></td>
        <td>
<img src="../static/images/Tyron-Woodley.jpg" width="300" height="200"></td>
    </tr>
    <tr>
        <td>
            <img src="../static/images/ufc fight 2.jpg" width="300" height="200">
        </td>
        <td>
<img src="../static/images/ufc fight 3.jpg" width="300" height="200">
        </td>
        <td>
            <img src="../static/images/ufc fighter.jpg" width="300" height="200">
        </td>
    </tr>
</table>
<p>yonatan shoshani</p>
</body>
{% endblock %}
